.trip-details-map {
  display: flex; 
  flex-direction: column;
  margin-top: 0.5em;
}

.trip-details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em;
  border-left: 2px solid var(--color-blue-primary);
  padding: 0 0 0.15em 0.25em;
  margin-bottom: 0.5em;

  & span {
    font-size: 16px;
    font-weight: 350;
    color: #000;
    width: 100%;
  }
}

.trip-map {
  width: 100%;
  height: inherit;
  margin-top: -0.8em;
}

span.trip-price{
  width: fit-content;
  text-decoration: underline;
  border-bottom: 1px solid;
}

.trip-info {
  /* width: fit-content; */
  text-align: center;
  padding: 0.5em;
  border: 2px dashed var(--color-red-dark);
  margin-bottom: 0.5em;

  & span {
    display: block;
  }
}

div.price-info {
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;

  &::before {
      content: "?";
      color: var(--color-blue-primary)
  }
}
