.wrapper {
    display: flex;
    gap: 2em;

}

.scooter-graphic {
    img {
        width: 100%;
    }
    width: 200px;
}
.text-section {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.auth-btn {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    margin-top: 2em;
    padding: 0.5em 1.25em;
    font-size: 1em;
    background-color: var(--color-blue-primary);
    color: #eee;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 var(--color-gray);

    &:hover {
        cursor: pointer;
        background-color: var(--color-blue-dark)
    }
}
