@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Oswald:wght@200..700&display=swap');

:root {
    --color-blue-primary: #2EAE63;
    --color-blue-light: #57D18A;
    --color-blue-lighter: #8FE6B3;
    --color-blue-lightest: #DFF9E9;
    --color-blue-dark: #1E7743;
    --color-blue-darker: #1A4D30;
    --color-blue-darkest: #092A19;
    --color-gray: #A3A6B1;
    --color-gray-light: #D2D5DA;
    --color-gray-lighter: #EEF0F1;
    --color-black: #2F2F2F;

    --h1-font: 'Fugaz One', sans-serif;
    --main-font: 'Oswald', 'Inter', Arial, sans-serif;
}