.bike-in-use-marker img {
    transform: scale(0.7);
    border-radius: 50%;
    animation: blink-in-use 2s infinite;
}

@keyframes blink-in-use {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: var(--color-green);
    }
    100% {
        background-color: transparent;
    }
}

/* .bike-low-battery-marker img {
    transform: scale(0.85);
    border-radius: 50%;
    animation: blink-low-battery 2s infinite;
}

@keyframes blink-low-battery {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: var(--color-red-dark);
    }
    100% {
        background-color: transparent;
    }
} */