.bike-in-use-marker {
    margin-top: 1em;
    border-radius: 50%;
    background-color: var(--color-blue-dark);
}

/* .bike-in-use-low-battery img {
    transform: scale(0.7);
    border-radius: 50%;
    animation: bike-in-use-low-battery 2s infinite;
}

@keyframes bike-in-use-low-battery {
    0% {
        background-color: var(--color-red-dark);
    }
    50% {
        background-color: var(--color-blue-dark);
    }
    100% {
        background-color: var(--color-red-dark);
    }
}

.bike-available-low-battery img {
    transform: scale(0.7);
    border-radius: 50%;
    background-color: var(--color-red-dark);
} */

.force-stop-btn {
    display: inline-block;
    width: 100%;
    margin-top: 0.25em;
    padding: 0.25em 0;
    background-color: var(--color-red-dark);
    color: #eee;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 var(--color-gray);
  
    &:hover {
        cursor: pointer;
        background-color: var(--color-red-darker)
    }
}